@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}

body{
     height: 770px;
     width: 100%;
     font-family: Montserrat;
     background-color: #212121;
	 margin:auto
} 

nav{
    background-color: #8AB7EB;
    /*height: 100%;         La altura cogería el 100% de la caja*/
    height: 550px;          
    width: 250px;
    float: left;
}

nav ul{
    display: flex;
    flex-flow: column;     /*Posición en columna.*/
    align-items: center;    /*Ordena las cajas en el centro*/
    list-style: none;   
    height: 100%;
}

nav ul li{
    flex-grow: 3;       /*Todos crecen por igual*/
    flex-shrink: 1;      /*Todos disminuyen por igual*/
    cursor: pointer;
    width: 100%;
    transition: 0.4s;
    text-align: center;
    padding-top: 20px;
    /*display: flex;      flex para organizar los textos de dento centrados tanto verticalmente como horizontal*/
    /*align-items: center;        alineamos los textos de dentro verticalmente centrados*/
    /*justify-content: center;        alineamos los textos de dentro horizontalmente centrados*/
}

nav ul li:hover{
    background-color: #4D739E;
}

#sub ul li{
    display: none;      /*ocultamos el submenu*/
}

#sub ul li:last-child{
    margin-bottom: 19px;        /*Margen al ultimo li de submenu para separarlo de la opcion siguiente*/
}

#sub ul li:first-child{
    margin-top: 19px;        /*Margen al primer li de submenu para separarlo de la opcion*/
}

#sub:hover li{
    display: block;         /*Cuando hacemos mouseover por la opcion ' opciones' del menu mostramos los li*/
}

#sub ul li:hover{
    background-color: #3b5a7e;
}

#logo{      /*Botón del logo más grande que el resto*/
    flex-grow: 5;
    flex-shrink: 1;
}

#salir{         /*Boton de salir más pequeño que el resto*/
    flex-grow: 1;
    flex-shrink: 1;
}

#caja{
    height: 670px;          /*El body mide 770 pero como tenemos 50padding por encima y abajo son 100-*/
    width: 700px;
    background-color: white;
    float: left;
    display: flex;
    flex-flow: wrap;        /*Para que las cajas bajen al siguiente nivel, asi mantienen su tamaño*/
    gap: 30px 70px;     /*Separación entre cajas; 30 entre filas y 70 entre cajas*/
    justify-content: space-between;     /*ordena las cajas según el espacio entre ellas*/
    padding: 50px;
}

#caja h1{
    width: 100%;        /*como queremos que quede de titular, hay que ponerle ancho porque sino actua como flex y pone al lado el resto del contenido*/
    text-align: center;
}

.items{     /*Caja que contiene los datos de un aticulo*/
    width: 140px;
    height: 170px;
    text-align: center;
    background-color: transparent;
    transition: 0.7s;
    cursor: pointer;
}

.items:hover{
    background-color: #8AB7EB;
}

.item{                  /*Caja que contiene la imagen para ajustarla al tamaño deseado. */
    width: 100%;        /*Lo ideal es buscar imagenes que se ajusten al tamaño o editarlas; asi no seria necesario este div*/
    height: 80%;
    overflow: hidden;
}

.items p{
    width: 100%;
    margin-top: 5px;
}

.item img{
    max-width: 100%;
    height: auto;
}